:root {
  color-scheme: dark;

  // fonts
  --fonts-main: "lato", sans-serif;
  --fonts-made-soulmaze: "made-soulmaze", sans-serif;
  --fonts-made-soulmaze-outline: "made-soulmaze-outline", sans-serif;

  // cards
  --card-width-sl: 41.5rem;
  --card-top-sl: 10rem;
  --card-right-sl: 20rem;
  --card-padding-sl: 1.5rem 3rem 3rem 3rem;

  --card-width-xl: 41.5rem;
  --card-top-xl: 10rem;
  --card-right-xl: 13rem;
  --card-padding-xl: 1.5rem 3rem 3rem 3rem;

  --card-width-lg: 41.5rem;
  --card-top-lg: 10rem;
  --card-right-lg: 7rem;
  --card-padding-lg: 1.5rem 3rem 3rem 3rem;

  --card-width-md: 35rem;
  --card-top-md: 10rem;
  --card-right-md: 5rem;
  --card-padding-md: 1rem 2rem 2rem 2rem;

  --card-width-sm: 15rem;
  --card-top-sm: 10rem;
  --card-right-sm: 5rem;
  --card-padding-sm: 1.5rem 3rem 3rem 3rem;

  --card-width-xs: 30rem;
  --card-top-xs: 10rem;
  --card-right-xs: 5rem;
  --card-padding-xs: 1.5rem 3rem 3rem 3rem;


  // colors
  --color-dark-violet: #2d093b;
  --color-dark-violet-1: #501659;
  --color-dark-violet-2: #2e0d3b;
  --color-dark-violet-3: #4d2277;
  --color-dark-violet-4: #802da6;
  --color-dark-violet-5: #3b0f47;
  --color-dark-violet-6: #4e1449;
  --color-dark-violet-7: #401247;
  --color-dark-violet-8: #642373;
  --color-dark-violet-9: #370e41;

  --color-violet: #8a2699;
  --color-violet-1: #cf52ec;
  --color-violet-2: #7e328f;
  --color-violet-3: #922380;
  --color-violet-4: #8a3d9c;
  --color-violet-4: #791688;

  --color-dark: #0c041d;
  --color-dark-1: #1b0833;
  --color-dark-2: #220835;
  --color-dark-3: #2b0939;
  --color-dark-4: #17082a;
  --color-dark-5: #1a1b1f;
  --color-dark-6: #2b083d;
  --color-dark-7: #030415;

  --color-white: #fff;

  --color-red: #fc0174;

  --color-cyan: #27f8f2;

  --color-green: #05d000;

  --color-grey: #707070;

  --color-purple: #593de0;
  --color-purple-1: #481b95;

  --color-hot-pink: #fc0174;
  --color-teal: #27f8f2;

  --color-black: rgb(2,3,20);

  --color-grad-purp-light: rgb(117,6,143);
  --color-grad-purp-dark: rgb(8,10,46);

  --color-grad-maroon-light: rgb(64,0,49);
  --color-grad-maroon-dark: rgb(6,27,51);

  --color-nft-grad-blue: rgb(3,182,217);
  --color-nft-grad-purp: rgb(159,41,186);

  --color-button-grad-purp: rgb(123,4,137);
  --color-button-grad-blue: rgb(12,150,200);
  --color-button-grad-orange: rgb(227,112,94);

  --color-pink-glow: rgba(252, 1, 116, .5);

  --border: 5px;

  // ? apple buttons blue color css apple fix?
  -apple-system-blue: inherit;
}
