@import "../../styles/abstract/mixins";

.hero_wrapper {
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: relative;
  width: 100vw;
  height: 95vh;
  z-index: 3;
  background: url('../../images/hero-bg.jpg') no-repeat center top;
  background-size: cover;

  @include respond(md) {
    min-height: 50rem;
  }

  &__good_bot {
    z-index: -1;
    background: url('../../images/sockbot-hero.png') no-repeat;
    background-size: cover;
    position: absolute;
    left: -15rem;
    bottom: 0;
    text-align: center;
    width: 70rem;
    height: 70rem;

    @include respond(md) {
      width: 60rem;
      height: 60rem;
      left: -15rem;
      bottom: 0;
    }
    @include respond(sm) {
      width: 40rem;
      height: 40rem;
      left: 25%;
      bottom: 0;
    }
    @include respond(xs) {
      width: 20rem;
      height: 20rem;
      left: 25%;
      bottom: 0;
    }

  }
}

.hero_content {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: relative;

  &__right {
    width: 45%;
    flex-direction: column;
    margin-left:auto;
    margin-right: 10rem;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include respond(md) {
      margin-right: 10rem;
      margin-left: auto;
    }
    @include respond(sm) {
      margin: auto;
      width: 55%;
      align-items: center;
    }
    @include respond(xs) {
      width: 80%;
    }

  }

  & p {
    font-weight: 500;
    text-transform: uppercase;

    @include respond(md) {
      font-size: 1.8rem;
    }

    @include respond(sm) {
      font-size: 1.6rem;
    }
    @include respond(sm) {
      font-size: 1.4rem;
    }
  }

}

.logo {
  margin: 2rem auto 2rem auto;
}

.bubble {
  background: var(--color-white);
  border-radius: 500px;
  padding: .5rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;

  &__text {
    color: black;
    text-transform: uppercase;
    margin-right: 2rem;
    margin-left: auto;

    @include respond(md) {
      font-size: 1.8rem;
      margin-left: auto;
      margin-right: 1rem;
    }
  }

  &__algorand {
    color: var(--color-white);
    background: var(--color-hot-pink);
    padding: 1rem;
    border-radius: 500px;
    font-size: 3.2rem;
    letter-spacing: .2rem;

    @include respond(md) {
      font-size: 2.2rem;
    }

  }
}
