@import "../../styles/abstract/mixins";

.hero_wrapper {
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: relative;
  height: 100vh;
  z-index: 3;
  background: url('../../images/hero-bg.jpg') no-repeat center top;
  background-size: cover;

  @include respond(md) {

  }

  @include respond(sm) {
    height: auto;
    padding-top: 10rem;
    padding-bottom: 10rem;
  }

  @include respond(xs) {
    height: auto;
    padding-top: 10rem;
    padding-bottom: 10rem;
  }

  &__good_bot {
    z-index: 5;
    background: url('../../images/sockbot-hero.png') no-repeat;
    background-size: cover;
    position: absolute;
    left: -15rem;
    bottom: 0;
    text-align: center;
    width: 70rem;
    height: 70rem;

    @include respond(sl) {
      width: 95rem;
      height: 95rem;
      left: 10rem;
    }

    @include respond(xl) {
      width: 90rem;
      height: 90rem;
      left: -15rem;
    }

    @include respond(lg) {
      width: 80rem;
      height: 80rem;
    }

    @include respond(md) {
      width: 70rem;
      height: 70rem;
    }
    @include respond(sm) {
      width: 40rem;
      height: 40rem;
      left: 20%;
      bottom: 0;
    }
    @include respond(xs) {
      width: 20rem;
      height: 20rem;
      left: 25%;
      bottom: 0;
    }

  }
}

.hero_content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  position: relative;

  &__left {
    width: 40%;
    height: 100%;
    margin: auto;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: shrink;

    @include respond(sl) {

    }

    @include respond(lg) {
      width: 50%;
    }

    @include respond(sm) {
      display:none;
    }

  }

  &__right {

    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include respond(sl) {
      margin-left: 0;
      margin-top: 10rem;
    }

    @include respond(xl) {
      margin-left: 0;
      margin-top: 10rem;
    }

    @include respond(sm) {
      justify-content: center;
      // width: 75%;
      margin: 15rem auto 10rem auto;
    }
    @include respond(xs) {
      justify-content: center;
      width: 75%;
      margin: 15rem auto 0 auto;
    }
  }

  & p {
    font-weight: 500;
    text-transform: uppercase;

    @include respond(md) {
      font-size: 1.8rem;
    }

    @include respond(sm) {
      font-size: 1.6rem;
    }
    @include respond(sm) {
      font-size: 1.8rem;
    }

    @include respond(xs) {
      font-size: 1.8rem;
      text-align: center;
    }
  }

}

.logo {
  margin: 2rem auto 2rem auto;

  @include respond(xs) {
    margin: auto;
  }
}

.bubble {
  background: var(--color-white);
  border-radius: 500px;
  padding: .5rem;
  margin-top: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  @include respond(sm) {
    margin-top: 1rem;
  }

  &__text {
    color: black;
    text-transform: uppercase;
    margin-right: auto;
    margin-left: auto;
    text-align: center;

    @include respond(md) {
      font-size: 1.8rem;
    }

    @include respond(sm) {
      font-size: 1.8rem;
    }

    @include respond(xs) {
      font-size: 1.4rem;
    }
  }

  &__algorand {
    color: var(--color-white);
    background: var(--color-hot-pink);
    padding: 1rem;
    border-radius: 500px;
    font-size: 3.2rem;
    letter-spacing: .2rem;

    @include respond(md) {
      font-size: 2.6rem;
    }

    @include respond(sm) {
      font-size: 2.2rem;
      padding: 2rem 2rem;
    }

    @include respond(xs) {
      font-size: 1.8rem;
      padding: 2rem;
    }

  }
}
