.thebrand_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 625px;
  background: url('../../images/thebrand-bg.jpg') no-repeat center top;
  background-size: cover;
  z-index: 5;
  position: relative;
}


.thebrand_content {
  width: 90%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: relative;


  & p{
    margin: 4rem 0;
  }

  &__left {
    margin: auto;

  }

  &__right {
    flex-direction: column;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__shsubmark {
    width: 600px;
    mix-blend-mode: overlay;
    z-index: 2;
    position: relative;
    opacity: 50%;

  }

  &__bot {
    position: absolute;
    z-index: 3;
    left: 10%;
    top: 10%;
  }

}

.capsule {
  margin-top: 3rem;
  margin-bottom: 3rem;
  padding: 1rem 3rem;
  border-radius: 500px;
  background: var(--color-white);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  transition: all .45s ease-in;

  & a {
    color: var(--color-violet);
    font-size: 3rem;
    letter-spacing: .20rem;
    text-align: center;
  }
}
.capsule:hover {
  background: var(--color-hot-pink);

  & a {
    color: var(--color-white);
  }
}

.social {
  width: 85px;
  height: 85px;
  color: var(--color-white);
}

.social:hover {
  color: var(--color-hot-pink);
}
