@import "../../styles/abstract/mixins";

@keyframes float {
	0% {
		transform: translatey(0px);
	}
	50% {
		transform: translatey(-20px);
	}
	100% {
		transform: translatey(0px);
	}
}
@keyframes scalar {
	0% {
		transform: scaleX(1);
	}
	50% {
		transform: scaleX(1.1);
	}
	100% {
		transform: scaleX(1);
	}
}

.thebrand_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 62.5rem;
  background: url('../../images/thebrand-bg.jpg') no-repeat center top;
  background-size: cover;
  z-index: 5;
  position: relative;
}


.thebrand_content {
  width: 90%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: relative;


  & p{
    margin: 4rem 0;
  }

  &__left {
    width: 50%;
    height: 100%;
    margin: auto;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: shrink;
    mix-blend-mode: normal;
    background: url('../../images/SH-Submark.svg') no-repeat center top;
    opacity: 100%;

    @include respond(sm) {
      display: none;
    }
  }

  &__right {
    width: 50%;
    flex-direction: column;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    @include respond(sm) {
      width: 75%;
    }

    @include respond(xs) {
      width: 95%;
    }
  }

}
.bot {
  max-height: 400px;
  mix-blend-mode: normal;
  isolation: isolate;
  position: relative;
  transform: translatey(0px);
  animation: float 6s ease-in-out infinite;

  &__shadow {
    max-height: 80px;
    mix-blend-mode: normal;
    isolation: isolate;
    position: relative;
    transform: scaleX(1);
    animation: scalar 6s ease-in-out infinite;
  }
}

.capsule {
  margin-top: 3rem;
  margin-bottom: 3rem;
  padding: 1rem 3rem;
  border-radius: 500px;
  background: var(--color-white);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  transition: all .45s ease-in;
	transform: scale(1);

  & a {
    color: var(--color-violet);
    font-size: 3rem;
    letter-spacing: .20rem;
    text-align: center;
  }
}
.capsule:hover {
  background: var(--color-hot-pink);
	transform: scale(1.05);

  & a {
    color: var(--color-white);
  }
}

.social {
  width: 85px;
  height: 85px;
  color: var(--color-white);
	transition: all .45s ease-in;
	transform: scale(1);
}

.social:hover {
  color: var(--color-hot-pink);
	transform: scale(1.1);
}
