@import "../../styles/abstract/mixins";

.thebrand_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 62.5rem;
  background: url('../../images/thebrand-bg.jpg') no-repeat center top;
  background-size: cover;
  z-index: 5;
  position: relative;
}


.thebrand_content {
  width: 90%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: relative;


  & p{
    margin: 4rem 0;
  }

  &__left {
    width: 50%;
    height: 100%;
    margin: auto;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: shrink;
    mix-blend-mode: overlay;
    background: url('../../images/SH-Submark.svg') no-repeat center top;
    opacity: 75%;

    @include respond(sm) {
      display: none;
    }
  }

  &__right {
    width: 50%;
    flex-direction: column;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    @include respond(sm) {
      width: 75%;
    }

    @include respond(xs) {
      width: 95%;
    }
  }

}

.capsule {
  margin-top: 3rem;
  margin-bottom: 3rem;
  padding: 1rem 3rem;
  border-radius: 500px;
  background: var(--color-white);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  transition: all .45s ease-in;

  & a {
    color: var(--color-violet);
    font-size: 3rem;
    letter-spacing: .20rem;
    text-align: center;
  }
}
.capsule:hover {
  background: var(--color-hot-pink);

  & a {
    color: var(--color-white);
  }
}

.social {
  width: 85px;
  height: 85px;
  color: var(--color-white);
}

.social:hover {
  color: var(--color-hot-pink);
}
