.about_wrapper {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: url('../../images/about-bg-circles.jpg') no-repeat center top;
  background-size: cover;
  position: relative;
  z-index: 4;
}
// .about_circles {
//   background: url('../../images/circles.svg') no-repeat;
//   background-size: cover;
//   width: 100vw;
//   height: 1365px;
//   position: absolute;
//   left: 0rem;
//   top: -10rem;
//   z-index: 5;
//   mix-blend-mode: overlay;
//   overflow: hidden;
// }

.about_content {
  width: 90%;
  border: .1rem var(--color-hot-pink) solid;
  background: linear-gradient(
     to left,
     rgba(117,6,143,.7),
     rgba(8,10,46,.7)
   );
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: row;
  border-radius: 2rem;
  position: relative;
  z-index: 10;
  padding: 5rem;

  &__left {
    width: 50%;
    margin: auto;
  }

  &__right {
    width: 50%;
    margin: auto;
    position: relative;
    display: flex;
    align-items: center;
  }

  & p{
    margin: 4rem 0;
  }

  &__button {
    padding: 2rem;
    border-radius: 20%/50%;
    background: linear-gradient(
       to left,
       rgb(137,16,165),
       rgb(49,10,63),
     );
  }
}
.card1 {
  width: 415px;
  height: 585px;
  background-color: var(--color-dark-violet);
  position: absolute;
  top: 0;
  z-index: 20;
}

.card2 {
  width: 415px;
  height: 585px;
  background-color: var(--color-cyan);
  position: absolute;
  top: 0;
  z-index: 30;
}
