@import "../../styles/abstract/mixins";
@import "../../styles/abstract/variables";

.about_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: url('../../images/about-bg-circles.jpg') no-repeat center center;
  background-size: cover;
  position: relative;
  z-index: 4;
}

.about_content {
  width: 90%;
  border: .1rem var(--color-hot-pink) solid;
  background: linear-gradient(
     to left,
     rgba(117,6,143,.7),
     rgba(8,10,46,.7)
   );
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: row;
  border-radius: 2rem;
  position: relative;
  z-index: 10;
  margin: 10rem auto 10rem auto;

  @include respond(sl) {
    padding: 5rem 5rem 5rem 5rem;

  }

  @include respond(xl) {
    padding: 5rem;

  }

  @include respond(lg) {
    padding: 5rem;

  }

  @include respond(md) {
    padding: 5rem;

  }

  @include respond(sm) {
    padding: 2rem;
    font-size: 1.6rem;

  }

  @include respond(xs) {
    padding: 2rem;
    font-size: 1.6rem;

  }

  &__left {
    width: 50%;

    @include respond(sm) {
      width: 100%;
    }
  }

  &__right {
    width: 50%;

    @include respond(sm) {
      display: none;
    }

  }

  & p {
    margin: 2rem 0;
  }

  &__button {
    display: block;
    text-align: center;
    padding: 2rem;
    margin-top: 5rem;
    margin-bottom: 5rem;
    background:
      linear-gradient(
        to bottom,
        rgb(137,16,165),
        rgb(49,10,63),
        ) padding-box,
        linear-gradient(to top, var(--color-button-grad-purp), var(--color-button-grad-blue), var(--color-button-grad-orange)) border-box;
    border-radius: 500px;
    border: 2px solid transparent;
    transition: all .7s;
    color: var(--color-white);
  }

  &__button:hover {
     box-shadow: 0rem 0rem 2rem var(--color-pink-glow);
     filter: hue-rotate(-15deg);
     color: var(--color-white);
  }

}

.card1 {
  position: absolute;
  z-index: 20;
  background:
    linear-gradient(var(--color-dark-violet-4), var(--color-dark-violet)) padding-box,
    linear-gradient(to left, var(--color-nft-grad-blue), var(--color-nft-grad-purp)) border-box;
  border-radius: 1em;
  border: 2px solid transparent;
  padding: 0;
  transition: all .7s;
  box-shadow: 0rem 0rem 2rem var(--color-pink-glow);
  transform: rotate(5deg);

  @include respond(sl) {
    width: var(--card-width-sl);
    top: var(--card-top-sl);
    right: var(--card-right-sl);
  }

  @include respond(xl) {
    width: var(--card-width-xl);
    top: var(--card-top-xl);
    right: var(--card-right-xl);
  }

  @include respond(lg) {
    width: var(--card-width-lg);
    top: var(--card-top-lg);
    right: var(--card-right-lg);
  }

  @include respond(md) {
    width: var(--card-width-md);
    top: var(--card-top-md);
    right: var(--card-right-md);
  }

  @include respond(sm) {
    width: var(--card-width-sm);
    top: var(--card-top-sm);
    right: var(--card-right-sm);
  }

  @include respond(xs) {
    width: var(--card-width-xs);
    top: var(--card-top-xs);
    right: var(--card-right-xs);
  }

  &__content {


    @include respond(sl) {
      padding: var(--card-padding-sl);
    }

    @include respond(xl) {
      padding: var(--card-padding-sl);
    }

    @include respond(lg) {
      padding: var(--card-padding-lg);
    }

    @include respond(md) {
      padding: var(--card-padding-md);
    }

    @include respond(sm) {
      padding: var(--card-padding-sm);
    }

    @include respond(xs) {
      padding: var(--card-padding-xs);
    }
  }

  & img {
    width: 100%;
    border-radius: 1em;
    transition: all 1.15s;
    box-shadow: 0 2rem 2rem rgba(0, 0, 0, .35);

  }
  & img:hover {
    transform: scale(1.05);
    box-shadow: 0rem 0rem 2rem var(--color-pink-glow);
  }
}
.card1:hover {
  transform: scale(1.05);
  box-shadow: 0rem 0rem 2rem var(--color-pink-glow);
  transform: rotate(8deg) translateX(3rem) ;
}

.card2 {
  position: absolute;
  top: 12rem;
  right:10rem;
  z-index: 19;
  background:
    linear-gradient(var(--color-dark-violet-4), var(--color-dark-violet)) padding-box,
    linear-gradient(to left, var(--color-nft-grad-blue), var(--color-nft-grad-purp)) border-box;
  border-radius: 1em;
  border: 2px solid transparent;
  padding: 0;
  box-shadow: 0rem 0rem 2rem var(--color-pink-glow);

  @include respond(sl) {
    width: var(--card-width-sl);
    top: var(--card-top-sl);
    right: var(--card-right-sl);
  }

  @include respond(xl) {
    width: var(--card-width-xl);
    top: var(--card-top-xl);
    right: var(--card-right-xl);
  }

  @include respond(lg) {
    width: var(--card-width-lg);
    top: var(--card-top-lg);
    right: var(--card-right-lg);
  }

  @include respond(md) {
    width: var(--card-width-md);
    top: var(--card-top-md);
    right: var(--card-right-md);
  }

  @include respond(sm) {
    width: var(--card-width-sm);
    top: var(--card-top-sm);
    right: var(--card-right-sm);
  }

  @include respond(xs) {
    width: var(--card-width-xs);
    top: var(--card-top-xs);
    right: var(--card-right-xs);
  }

  &__content {


    @include respond(sl) {
      padding: var(--card-padding-sl);
    }

    @include respond(xl) {
      padding: var(--card-padding-sl);
    }

    @include respond(lg) {
      padding: var(--card-padding-lg);
    }

    @include respond(md) {
      padding: var(--card-padding-md);
    }

    @include respond(sm) {
      padding: var(--card-padding-sm);
    }

    @include respond(xs) {
      padding: var(--card-padding-xs);
    }
  }

  & img {
    width: 100%;
    border-radius: 1em;
    box-shadow: 0 2rem 2rem rgba(0, 0, 0, .35);

  }
}

.drop_schedule {
  padding: 2rem;
  margin: 2rem 0;
  background: linear-gradient(
   to left,
   rgba(64,0,49,1),
   rgba(0,0,0,.35)
  );
  border-radius: 15px;

  & h3 {
    font-family: "lato", sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: .5rem;
  }

  & h4 {
    margin-bottom: 1rem;
  }
}

.nomargin {margin: 0 0 0 0 !important;}

.rule {
  height: 3px;
  background-color: var(--color-hot-pink);
  border-style: none;
  margin-bottom: 2rem;
}
