@import "../../styles/abstract/mixins";

.story_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: url('../../images/story-bg.jpg') no-repeat center top;
  background-size: cover;
  position: relative;
  z-index: 4;
}

.story_content {
  width: 90%;
  border: .1rem var(--color-hot-pink) solid;
  background: linear-gradient(
     to left,
     rgba(117,6,143,.7),
     rgba(8,10,46,.7)
   );
  border-radius: 2rem;
  padding: 5% 5% 5% 5%;
  position: relative;
  z-index: 12;
  margin: 10rem auto 10rem auto;

  @include respond(md) {
    font-size: 2rem;
  }

  @include respond(sm) {
    margin: 5rem auto 5rem auto;
    font-size: 1.6rem;
  }

  & p{
    margin: 2rem 0;
  }

}
