.story_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  // padding: 0 10% 0 10%;
  background: url('../../images/story-bg.jpg') no-repeat center top;
  background-size: cover;
  position: relative;
  z-index: 4;
}

.lines {
  background: url('../../images/lines.svg') no-repeat;
  width: 1440px;
  height: 1200px;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 2;
  mix-blend-mode: overlay;
  overflow: hidden;
  z-index: 5;
}

.story_content {
  width: 90%;
  border: .1rem var(--color-hot-pink) solid;
  background: linear-gradient(
     to left,
     rgba(117,6,143,.7),
     rgba(8,10,46,.7)
   );
  border-radius: 2rem;
  padding: 5% 5% 5% 5%;
  position: relative;
  z-index: 10;
  margin: 20rem auto 20rem auto;

  & p{
    margin: 4rem 0;
  }

}
