@import "../../styles/abstract/mixins";

.header {
  display: flex;
  flex-direction: row;
  z-index: 100;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  background: transparent;
  position: absolute;
  top: 2rem;
  flex-wrap: wrap;
  width: 100%;
  transition: all .7s ease-in;
}

.scrolled {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  box-shadow: 0 2px 24px 0 rgb(0 0 0 / 15%);
  background-color: #ffffff !important;
  animation: 500ms ease-in-out 0s normal none 1 running fadeInDown;
  padding-top: 0px;
  padding-bottom: 0px;
}

.logo {
  margin-left: 5rem;
  width: 10%;
  justify-content: center;
  display: flex;

  @include respond(md) {

  }

  @include respond(sm) {
    margin-left: 10rem;
  }
  @include respond(xs) {
    margin: auto;
    width: 100%;

  }

  & a img {
    transition: all .45s ease-in-out;
    transform: scale(1);
  }

  & a:hover img {
    transform: scale(1.05);
  }
}

.navigation {
  width: 60%;
  display: flex;
  flex-direction: row;
  justify-content: center;

  @include respond(md) {
    width: 50%;
  }

  @include respond(sm) {
    display: none;
  }

  &__link {
    border-radius: 10rem;
    padding: 2rem 2rem;
    transition: all 0.45s ease-in-out;
    font-size: 1.6rem;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 3px;
    cursor: pointer;
    color: var(--color-white);

    @include respond(xl) {
      padding: 3rem 3rem;
    }

    @include respond(lg) {
      padding: 2.5rem 2.5rem;
    }

    @include respond(md) {
      font-size: 1.5rem;
      padding: 1.4rem 1.4rem;
    }
  }

  &__link:hover {
    color: var(--color-hot-pink);
    transform: scale(1.05);
  }


}

.button {
  min-width: 250px;
  height: 50px;
  border-radius: 50px;
  border: 2px solid #44f8bd;
  background: transparent;
  white-space: nowrap;
  padding: 25px 25px;
  margin-top: 20px;
  color: #fff;
  font-size: 16px;
  outline: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  text-decoration: none;

  &:hover {
    background: #44f8bd;
    color: black;

    img {
      filter: invert(1);
      -webkit-filter: invert(1)
    }
  }
}
