@import "../../styles/abstract/mixins";

.footer_wrapper {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
  background: var(--color-black);
  position: relative;
  z-index: 4;
}

.footer_content {
  width: 90%;
  min-height: 25rem;
  z-index: 5;
  justify-content: space-between;
  align-items:  center;
  display: flex;
  flex-direction: row;
  position: relative;

  @include respond(md) {
    margin-top: 1rem;
  }

  @include respond(sm) {
    flex-direction: column;
    justify-content: center;
    min-height: 30rem;
    margin-top: 5rem;
  }

  &__logo {
    width: 20%;
    transition: all .4s ease-in;
    transform: scale(1);

    @include respond(sl) {
      width: 15%;
    }

    @include respond(xl) {
      width: 15%;
    }

    @include respond(lg) {
      width: 20%;
    }

    @include respond(md) {
      width: 25%;
    }

    @include respond(sm) {
      width: 35%;
    }

    @include respond(xs) {
      width: 50%;
    }
  }

  &__logo:hover {
    transform: scale(1.05);
  }

  &__menu {
    display: flex;
    width: 50%;
    justify-content: space-between;
    align-items: center;
    margin: auto;

    @include respond(md) {
      flex-direction: column;
      margin: 5rem auto;
    }

    @include respond(md) {
      margin: 2rem auto;
    }

  }

  &__menu a {
    padding: 2rem 2rem;
    transition: all 0.3s ease-in-out;
    font-size: 1.6rem;
    letter-spacing: 3px;
    cursor: pointer;

    @include respond(md) {
      font-size: 1.6rem;
      padding: .5rem;
    }
  }

  &__menu a:hover {
    color: var(--color-hot-pink);
  }

  &__social {
    flex-direction: row;
  }

  &__social a img {
      display: inline;
      width: 35px;
      height: 35px;
      transform: scale(1);
      transition: all .4s ease-in-out;
  }
  &__social a img:hover {
      transform: scale(1.1);
  }
}
