*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  line-height: 1.5;
  scroll-behavior: smooth;
  -webkit-text-size-adjust: 100%;
}

body {
  font-size: 2rem;
  font-family: var(--fonts-main);
  background: linear-gradient(
   to bottom,
   var(--color-dark-violet),
   var(--color-dark)
  );
  background-attachment: fixed;
  min-height: 100vh;
  margin: 0;
}

main {
  display: block;
}

a {
  color: inherit;
  text-decoration: none;
  transition: all .35s ease-in-out;
  background-color: transparent;
}

h2 {
  font-family: "made-soulmaze";
  letter-spacing: 1rem;
  font-size: 5rem;
  font-weight: normal;
}
h3 {
  font-family: "made-soulmaze";
  letter-spacing: .2rem;
  font-size: 2.25rem;
  font-weight: normal;
}

input,
button,
textarea {
  font-family: inherit;
}

input {
  background-color: transparent;
}

img {
  border-style: none;
}

button {
  cursor: pointer;
  color: inherit;

  * {
    color: inherit;
  }
}

button,
input { /* 1 */
  overflow: visible;
}

button,
select { /* 1 */
  text-transform: none;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}



// react collapse
.ReactCollapse--collapse {
  transition: height 300ms;
}

// temp: hacky fix for Uncaught ReferenceError: process is not defined
iframe {
  pointer-events: none;
  opacity: 0;
}

::selection {
  // background: var(--color-dark-violet-4); /* WebKit/Blink Browsers */
}
::-moz-selection {
  // background: var(--color-dark-violet-4); /* Gecko Browsers */
}
