*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  line-height: 1.5;
  scroll-behavior: smooth;
}

body {
  font-size: 2rem;
  font-family: var(--fonts-main);
  background: linear-gradient(
   to bottom,
   var(--color-dark-violet),
   var(--color-dark)
  );
  background-attachment: fixed;
  min-height: 100vh;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
  transition: all .35s ease-in-out;
}

h2 {
  font-family: "made-soulmaze";
  letter-spacing: 1rem;
  font-size: 5rem;
  font-weight: normal;
}
h3 {
  font-family: "made-soulmaze";
  letter-spacing: .2rem;
  font-size: 2.25rem;
  font-weight: normal;
}

input,
button,
textarea {
  font-family: inherit;
}

input {
  background-color: transparent;
}

button {
  cursor: pointer;
  color: inherit;

  * {
    color: inherit;
  }
}

// react collapse
.ReactCollapse--collapse {
  transition: height 300ms;
}

// temp: hacky fix for Uncaught ReferenceError: process is not defined
iframe {
  pointer-events: none;
  opacity: 0;
}

::selection {
  // background: var(--color-dark-violet-4); /* WebKit/Blink Browsers */
}
::-moz-selection {
  // background: var(--color-dark-violet-4); /* Gecko Browsers */
}
